header{
    padding: 30px;
    margin: auto;
    background-color: rgb(201, 20, 20);
    font-size: 18px;
    font: white;
    text-align: center;
    justify-content: space-around;
}

.search{
    padding: 100px;
    margin: auto;
    justify-content: center;
}

.search .btn{
    background-color: rgb(111, 159, 215);
    font: bold;
    padding: 8px;
}
.search input[type=text]{
    padding: 10px;
    width: 300px;
    font: bold;
}